body {
  font-family: Helvetica,sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  background-color: #FFD61A;
}

#dragme {
 position: relative;
 top: 378px;
 left: 945px;
  background-color: white;
  z-index: 150px;
}


#droponme {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 378px;
  left: 945px;
  margin: 0 auto;
  background-color: white;
  z-index: -99;

}

#title1{
  position: absolute;
  top: 230px;
  left: 100px;
}

#title2 {
  position: absolute;
  top: 290px;
  left: 100px;
}

#timer {
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 22px;
  color: white;
  font-weight: bold;
}



.buttonStart1 {
  position: absolute;
  top: 370px;
  left: 270px;
  width: 110px;
  height: 50px;
  background-color: #FFD61A;
  color: white;
  border: 5px solid white;
}

.buttonStart1:hover {
  background-color: #6bccf9; /* blue */
  color: white;
}

.buttonStart2 {
  position: absolute;
  top: 370px;
  left: 100px;
  width: 110px;
  height: 50px;
  background-color: #FFD61A;
  color: white;
  border: 5px solid white;
}

.buttonStart2:hover {
  background-color: #6bccf9; /* blue */
  color: white;
}

.buttonNext {
  position: absolute;
  top: 570px;
  left: 1110px;
  width: 90px;
  height: 50px;
  background-color: #FFD61A;
  color: white;
  border: 5px solid white;
}

.buttonNext:hover {
  background-color: #6bccf9; /* blue */
  color: white;
}





/* IMAGES */
#square {
  background: #6bccf9;
  height: 80px;
  width: 80px;
  position: absolute;
  top:50%;
  left: 50%;
}

#teen {
  position: absolute;
  width: 440px;
  height: auto;
  top: 10px;
  left:750px;
}

#step0 {
  position: absolute;
  width: 300px;
  height: auto;
  top: 140px;
  left: 35px;
  z-index: -80;
}


#step1 {
  position: absolute;
  width: 300px;
  height: auto;
  top: 140px;
  left: 35px;
  z-index: -100;
}

#laststep {
  position: absolute;
  width: 300px;
  height: auto;
  top: 140px;
  left: 35px;
  z-index: -100;
}

#mac {
  position: absolute;,
  width: 100px;
  height: auto;
  top: 50px;
  left: 350px;
  z-index: -100;
}

#folder {
  position: absolute;,
  width: 20px;
  height: auto;
  top: 370px;
  left: 940px;
  z-index: -90;
}

#pdf {
  position: absolute;
  width: 60px;
  height: auto;
  top: 100px;
  left:550px;
}
