/*

Final by Claudia Goyette

*/

body {
font-family: Helvetica,sans-serif;
color: black;
font-size: 20px;
text-align: center;
font-weight: bold;
background-color: white;
}

#Title1{
  position: absolute;
  top: 10px;
  left: 550px;
}

#Title2 {
  position: absolute;
  top: 30px;
  left: 571px;
}

#Title3 {
  position: center;
  top: 40px;
  left: 440px;
}

#question {
  position: absolute;
  top: 250px;
  left: 480px;
}

#counter {
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 22px;
  color: black;
  font-weight: bold;
}

#timesup {
  position: absolute;
  top: 300px;
  left: 220px;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

#cart {
    position: absolute;
    width: 100px;
    height: auto;
    top: 350px;
}

#cartNotMoving {
    position: absolute;
    width: 40px;
    height: auto;
    top: 35px;
    left:1150px
}


/* images */
#image1 {
    position: absolute;
    width: 100px;
    height: auto;
    top: -4200px;
    left: 170px;
}
#image2 {
    position: absolute;
    width: 100px;
    height: auto;
    top: -6700px;
    left: 500px;
}
#image3 {
    position: absolute;
    width: 100px;
    height: auto;
    top: -9000px;
    left: 280px;
}
#image4 {
    position: absolute;
    width: 100px;
    height: auto;
    top: -3000px;
    left: 60px;
}
#image5 {
    position: absolute;
    width: 100px;
    height: auto;
    top: -7500px;
    left: 900px;
}
#image6 {
    position: absolute;
    width: 100px;
    height: auto;
    top: -10200px;
    left: 610px;
}
#image7 {
    position: absolute;
    width: 100px;
    height: auto;
    top: -2650px;
    left: 860px;
}

/* Buttons on the first page */

.button1 {
  position: absolute;
  top: 310px;
  left: 450px;

}
.button2 {
  position: absolute;
  top: 310px;
  left: 540px;
}
.button3 {
  position: absolute;
  top: 310px;
  left: 630px;
}
.button4 {
  position: absolute;
  top: 310px;
  left: 750px;
}
